node_modules
out
release
dist
docs/api
*.log
.DS_Store
public/models/chess/**/*.glb
docs/raw_assets/**/*.blend
docs/raw_assets/**/*.blend1
docs/raw_assets/**/*.glb
public/sets
docs/game-textures
tmp/
